@media screen and (max-width: 1250px) {
    .text-container img {
        width: 350px;
    }

    .text-container h1 {
        font-size: 2.5em;
    }
    
}

@media screen and (max-width: 1000px) {
    .text-containers .text-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 500px;
    }

    .text-container h1,
    .text-container p {
        padding: 0;
        text-align: center;
    }
}

@media screen and (max-width: 880px) {
    .mobile-menu-btn {
        display: flex;
    }

    .navbar .itens {
        display: none;
    }

    .search-box{
        background-color: transparent;
    }

    .btn-login {
        display: none;
    }

    .cart {
        display: none;
    }

    .navbar {
        justify-content: left;
    }

    #logo {
        margin-right: 50px;
    }

    .mobile-nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .btn-login i {
        font-size: 20px;
        padding-right: 10px;
        color: white;
    }

    .mobile-nav .btn-login {
        display: flex;
        align-items: center;
        transition: .2s;
        padding: 1rem 2rem;
        margin: 0;
    }

    .mobile-nav .cart {
        display: flex;
        align-items: center;
        transition: .2s;
        padding: 1rem 2rem;
        margin: 0;
    }

    .cart i {
        font-size: 25px;
    }

    .mobile-nav {
        position: absolute;
        z-index: 1;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.616);
        transition: 2s;
    }

    .open {
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 67.5px;
        padding-bottom: 20px;

    }

    .open li {
        margin: 0;
    }

    .open li:hover,
    .open .btn-login:hover,
    .open .cart:hover {
        transform: scale(1.1);
        border: none;
        background-color: transparent;
    }

    .open .btn-login ul {
        padding: 0;
        align-items: center;
    }

    footer section {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    footer section li {
        padding-bottom: 15px;
        font-size: .8em;

    }

    .ul-title {
        color: #5c8f11;
        font-weight: bold;
        font-size: 1.3em;
    }
}

@media screen and (max-width: 360px) {
    .menu {
        padding: 5px 20px 5px 20px;
    }

    #logo {
        width: 30px;
        height: 30px;
        transition: .5s;
        margin-right: 20px;
    }

    .search-box {
        margin-top: -2.5px;
        width: 40px;
        height: 40px;
    }

    .search-box.ativar {
        width: 200px;
    }

    .search-box .lupa,
    .search-box .btn-fechar {
        min-width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .search-box .lupa {
        margin-left: 12px;
    }

    .search-box .btn-fechar {
        margin: 0 5px 0 3px;
    }


    .search-box .lupa i {
        font-size: 20px;
        color: white;
    }

    .search-box .btn-fechar i {
        font-size: 12px;
        margin-left: 5px;
        color: white;
    }

    .search-box .input {
        position: absolute;
        left: 36px;
        width: calc(100% - 120px);
        line-height: 25px;
    }

    .search-box .input input{
        font-size: 12px;
    }

    .mobile-menu-btn {
        margin: 0;
    }

    .mobile-menu-btn i{
        font-size: 22px;
    }

    .mobile-nav li {
        font-size: 15px;
    }

    .btn-login i {
        font-size: 17px;
    }

    .cart i {
        font-size: 22px;
    }

    .open {
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 47.5px;
        padding-bottom: 10px;
    }

    .text-container #img1{
        max-width: 180px;
    }

    footer section ul{
        padding: 40px 5px;
        list-style: none;
    }

}