/* Configurações Padrão */
@charset "UTF-8";

/* Cores */

:root{
    --bgColor: #1464bf;
    --bgMenuColor1: #0000006b;
    --bgMenuColor2: #ffffff2c;
    --navwall1: url('../images/navwall1.png');
    --navwall2: url('../images/navwall2.jpg');
    --navwall3: url('../images/navwall3.jpg');
    --navwall4: url('../images/navwall4.png');
}

/* Reset */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Menu */

header{
    width: 100%;
}

.menu{
    padding: 10px 40px 10px 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.616);
    position: fixed;
    z-index: 1;
    max-width: 100%;
    box-shadow: 0px 10px 20px 7px rgba(0,0,0,0.75);
    transition: 0.6s;
}

.menu.ativo{
    background-color: rgb(2, 2, 2);
}



#logo{
    width: 90px;
    transition: .5s;
    margin-top: 10px;
    margin-right: 30px;
    cursor: pointer;
}

#logo:hover{
    transform: scale(1.1);
}

.search-box{
    margin-top: -2.5px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: .5s;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: var(--bgMenuColor1);
    margin-right: 30px;
}

.search-box:hover{
    transform: scale(1.1);
}

.search-box.ativar{
    width: 280px;
}

.search-box .lupa, .search-box .btn-fechar{
    min-width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-box .lupa {
    margin-left: 14px;
}

.search-box .btn-fechar{
    margin: 0 15px 0 3px;
}


.search-box .lupa i{
    font-size: 20px;
    color: white;
}

.search-box .btn-fechar i{
    font-size: 15px;
    margin-left: 5px;
    color: white;
}

.search-box .input{
    position: absolute;
    left: 50px;
    width: calc(100% - 120px);
    line-height: 25px;
}

.search-box .input input{
    border: 0;
    outline: 0;
    font-size: 15px;
    color: #fff;
    background: transparent;
}

.search-box .input input::placeholder{
    color: #fff;
}

.navbar{
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
}

.itens, .usuario{
    list-style: none;
    display: flex;
    color: white;
    font-weight: 400;
    align-items: center;
}

.itens li{
    margin-right: 40px;
    padding: 10px;
    transition: .2s;
    cursor: pointer;
}

.itens li a{
    text-decoration: none;
    color: #fff;
}

.itens li:hover{  
    border-radius: 10px;
    background-color: var(--bgMenuColor1);
    transform: scale(1.05);

}

.menu .btn-login i{
    font-size: 20px;
    margin-right: 10px;
    color: white;
}

.btn-login{
    display: flex;
    align-items: center;
    margin-right: 30px;
    transition: .2s;
    padding: 10px;
    cursor: pointer;
}

.btn-login a{
    display: flex;
    text-decoration: none;
}

.btn-login:hover{
    border-radius: 10px;
    background-color: var(--bgMenuColor1);
    transform: scale(1.05);

}

.cart{
    display: flex;
    align-items: center;
    margin-right: 30px;
    transition: .2s;
    padding: 10px 20px;
    cursor: pointer;
}

.cart i{
    font-size: 30px;
    color: white;
}

.cart:hover{
    border-radius: 10px;
    background-color: var(--bgMenuColor1);
    transform: scale(1.05);
}

.mobile-menu-btn{
    min-width: 25px;
    height: 25px;
    cursor: pointer;
    align-items: center;
    display: flex;
    color: #fff;
    transition: .5s;
}

.mobile-menu-btn i{
    font-size: 30px;
}

.mobile-menu-btn:hover{
    transform: scale(1.1);
}

.mobile-menu-btn{
    margin-left: 30px;
    display: none;
}

.mobile-nav{
    display: none;
}

/* Footer */

footer{
    background-color: rgb(14, 14, 14);
    color: #fff;
    width: 100%;
   }
   
   footer section{
       max-width: 90%;
       display: flex;
       flex-direction: row;
       justify-content: center;
       margin: auto;
   }
   
   footer section ul{
       padding: 40px 40px;
       list-style: none;
   }
   
   footer section li{
       padding-bottom: 30px;
       font-size: .9em;
   
   }
   
   .ul-title{
       color: #1464bf;
       font-weight: bold;
       font-size: 1.2em;
}

/* Menu/Footer Responsivo */

@media screen and (max-width: 880px) {
    .mobile-menu-btn {
        display: flex;
    }
  
    .navbar .itens {
        display: none;
    }
  
    .search-box{
        background-color: transparent;
    }
  
    .btn-login {
        display: none;
    }
  
    .cart {
        display: none;
    }
  
    .navbar {
        justify-content: left;
    }
  
    #logo {
        margin-right: 50px;
    }
  
    .mobile-nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
  
    .btn-login i {
        font-size: 20px;
        padding-right: 10px;
        color: white;
    }
  
    .mobile-nav .btn-login {
        display: flex;
        align-items: center;
        transition: .2s;
        padding: 1rem 2rem;
        margin: 0;
    }
  
    .mobile-nav .cart {
        display: flex;
        align-items: center;
        transition: .2s;
        padding: 1rem 2rem;
        margin: 0;
    }
  
    .cart i {
        font-size: 25px;
    }
  
    .mobile-nav {
        position: absolute;
        z-index: 1;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.616);
        transition: 2s;
    }
  
    .open {
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 67.5px;
        padding-bottom: 20px;
  
    }
  
    .open li {
        margin: 0;
    }
  
    .open li:hover,
    .open .btn-login:hover,
    .open .cart:hover {
        transform: scale(1.1);
        border: none;
        background-color: transparent;
    }
  
    .open .btn-login ul {
        padding: 0;
        align-items: center;
    }
  
    footer section {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
  
    footer section li {
        padding-bottom: 15px;
        font-size: .8em;
  
    }
  
    .ul-title {
        color: var(--bgColor);
        font-weight: bold;
        font-size: 1.3em;
    }
  
    
}

@media screen and (max-width: 360px) {
    .menu {
        padding: 5px 20px 5px 20px;
    }
  
    #logo {
        width: 30px;
        height: 30px;
        transition: .5s;
        margin-right: 20px;
    }
  
    .search-box {
        margin-top: -2.5px;
        width: 40px;
        height: 40px;
    }
  
    .search-box.ativar {
        width: 200px;
    }
  
    .search-box .lupa,
    .search-box .btn-fechar {
        min-width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
  
    .search-box .lupa {
        margin-left: 12px;
    }
  
    .search-box .btn-fechar {
        margin: 0 5px 0 3px;
    }
  
  
    .search-box .lupa i {
        font-size: 20px;
        color: white;
    }
  
    .search-box .btn-fechar i {
        font-size: 12px;
        margin-left: 5px;
        color: white;
    }
  
    .search-box .input {
        position: absolute;
        left: 36px;
        width: calc(100% - 120px);
        line-height: 25px;
    }
  
    .search-box .input input{
        font-size: 12px;
    }
  
    .mobile-menu-btn {
        margin: 0;
    }
  
    .mobile-menu-btn i{
        font-size: 22px;
    }
  
    .mobile-nav li {
        font-size: 15px;
    }
  
    .btn-login i {
        font-size: 17px;
    }
  
    .cart i {
        font-size: 22px;
    }
  
    .open {
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 47.5px;
        padding-bottom: 10px;
    }

    footer section ul{
        padding: 40px 5px;
        list-style: none;
    }
  
}
